{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Categoria</h2>
        <!--Aqui código tarjeta-->
        <div class="card"> <!--La tarjeta -->
            <div class="card-body">
                <form action="/editarCategorias/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                      <input type="text" id="idpedido" name="idcategoria" class="form-control" value="{{lascategorias.id_categoria}}" minlenght="1" maxlenght="5" required><br>
                    </div>
                    <div class="form-group py-1">
                      <input type="text" id="idcliente" name="idproveedor" class="form-control" value="{{lascategorias.id_proveedor}}" maxlenght="5" required><br>
                    </div>
                    <div class="form-group">
                      <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{lascategorias.nombre}}" min="1" max="5" required><br>
                    </div>
                    <div class="form-group">
                      <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control" value="{{lascategorias.descripcion}}" required><br>
                    </div>
                    <div class="form-group">
                      <input type="text" id="intcantidad" name="intcantidad" class="form-control" value="{{lascategorias.cantidad}}" required><br>
                    </div>
                    <div class="form-group">
                      <input type="text" id="txtpromocion" name="txtpromocion" class="form-control" value="{{lascategorias.promocion}}" required><br>
                    </div>
                    <div class="form-group">
                      <input type="text" id="txtaudiencia" name="txtaudiencia" class="form-control" value="{{lascategorias.audiencia}}" required><br>
                    </div>
                    <div class="form-group py-1">
                      <button type="submit" class="btn btn-dark">Guardar Categoria</button>
                    </div>
                  </form>
            </div>
          </div> <!--La tarjeta -->
        <!--Aqui código tarjeta-->
    </div>
</div> <!--fila en editar-->
{% endblock %}